*{
    margin: 0;
    padding: 0;
}

nav{
    height: 100px;
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    background-color: aliceblue;
}
.container{
    width: 100vw;
    height: 558px;
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.name{
    font-size: larger;
    color: rgb(0, 255, 170);
}
.gallery{
    /* width: 20vw; */
    height: 500px;
    /* border: 2px solid red;
    display: flex;
    justify-content: end;
    align-items: center; */
    flex-grow: 1;
    /* background-color: lightcoral; */
    padding: 10px;
    margin: 0px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* overflow: scroll; */
    /* scroll-snap-align: center; */
    /* scroll-behavior: smooth;
    scroll-snap-type: x mandatory; */
}

.galleryImage{
    width: 60vw;
    height: 500px;
    /* animation-name:slidein; */
    /* animation-duration: 3s; */
    /* scroll-snap-align: center; */
    position: relative;
    /* animation: animateleft 2s; */

}
.leftt{
    background-color: lightblue;
    padding: 10px;
}

.rightt{
    background-color: lightgreen;
    padding: 10px;
}

#left{
    width: 50px;
    height: 50px;
    /* position: relative; */
    /* top: 45%; */
}

#right{
    width: 50px;
    height: 50px;
}

footer{
    display: flex;
    height: 70px;
    /* border: 1px solid black; */
    background-color: aliceblue;
    color:bisque;
    align-items: center;
    justify-content: end;
}
.footerName{
    color: #00a2ff;
    margin-top: 53px;
    letter-spacing: 5px;
    margin-right: 5px;
    font-size: 13px;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
   @keyframes animateleft{from{left:-50px;opacity:0} to{left:0;opacity:1}}

  @keyframes animateright{from{right:-50px;opacity:0} to{right:0;opacity:1}}